USE [master]
GO
/****** Object:  Database [Seria2 - Parte 3 - Ejercicio 7]    Script Date: 20/09/2023 21:38:04 ******/
CREATE DATABASE [Seria2 - Parte 3 - Ejercicio 7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Seria2 - Parte 3 - Ejercicio 7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Seria2 - Parte 3 - Ejercicio 7.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Seria2 - Parte 3 - Ejercicio 7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Seria2 - Parte 3 - Ejercicio 7_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seria2 - Parte 3 - Ejercicio 7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seria2 - Parte 3 - Ejercicio 7]
GO
/****** Object:  Table [dbo].[ACTORES]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTORES](
	[id_actor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_actor] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_actor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIRECTOR]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECTOR](
	[id_director] [int] IDENTITY(1,1) NOT NULL,
	[nombre_director] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ELENCO_TITULO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELENCO_TITULO](
	[id_actor] [int] NULL,
	[id_titulo] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO_VISUALIZACION]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO_VISUALIZACION](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GENERO_TITULO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENERO_TITULO](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_genero] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAIS_PRODUCCION]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAIS_PRODUCCION](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nombre_pais] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLAYLIST]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLAYLIST](
	[id_playlist] [int] IDENTITY(1,1) NOT NULL,
	[nombre_playlist] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLAYLIST_LISTADO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYLIST_LISTADO](
	[id_titulo] [int] NULL,
	[id_playlist] [int] NULL,
	[id_estado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RATING]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RATING](
	[id_rating] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_rating] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TITULO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TITULO](
	[id_titulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_titulo] [varchar](50) NULL,
	[fecha_ingreso] [date] NULL,
	[descripcion_titulo] [varchar](200) NULL,
	[id_director] [int] NULL,
	[id_rating] [int] NULL,
	[id_pais] [int] NULL,
	[id_genero] [int] NULL,
	[fecha_produccion] [date] NULL,
	[id_tipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 20/09/2023 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](50) NULL,
	[clave] [varchar](12) NULL,
	[id_playlist] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ELENCO_TITULO]  WITH CHECK ADD FOREIGN KEY([id_actor])
REFERENCES [dbo].[ACTORES] ([id_actor])
GO
ALTER TABLE [dbo].[ELENCO_TITULO]  WITH CHECK ADD FOREIGN KEY([id_titulo])
REFERENCES [dbo].[TITULO] ([id_titulo])
GO
ALTER TABLE [dbo].[PLAYLIST_LISTADO]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_VISUALIZACION] ([id_estado])
GO
ALTER TABLE [dbo].[PLAYLIST_LISTADO]  WITH CHECK ADD FOREIGN KEY([id_playlist])
REFERENCES [dbo].[PLAYLIST] ([id_playlist])
GO
ALTER TABLE [dbo].[PLAYLIST_LISTADO]  WITH CHECK ADD FOREIGN KEY([id_titulo])
REFERENCES [dbo].[TITULO] ([id_titulo])
GO
ALTER TABLE [dbo].[TITULO]  WITH CHECK ADD FOREIGN KEY([id_director])
REFERENCES [dbo].[DIRECTOR] ([id_director])
GO
ALTER TABLE [dbo].[TITULO]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [dbo].[GENERO_TITULO] ([id_genero])
GO
ALTER TABLE [dbo].[TITULO]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[PAIS_PRODUCCION] ([id_pais])
GO
ALTER TABLE [dbo].[TITULO]  WITH CHECK ADD FOREIGN KEY([id_rating])
REFERENCES [dbo].[RATING] ([id_rating])
GO
ALTER TABLE [dbo].[TITULO]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TIPO] ([id_tipo])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([id_playlist])
REFERENCES [dbo].[PLAYLIST] ([id_playlist])
GO
USE [master]
GO
